@charset "UTF-8";
	body {
		background-color: #f8f9fa;
		font-family: 'Arial', sans-serif;
	}
	p {
		font-size: 1.5em;
		font-weight: medium;
		margin-bottom: 0.1em;
	}
	h1 {
		color: #007bff;
		text-align: center;
		margin-top: 50px;
	}
	h1:hover {
		cursor: pointer;
	}
	.container {
		background-color: white;
		border-radius: 10px;
		box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
		padding: 30px;
		margin-top: 20px;
		width: 100%;
	}
	table{
		border: 3px solid blanchedalmond;
		border-collapse: collapse;
		border-radius: 10px;
		max-width: 100%;
	}
	tbody > tr:hover td {
		background-color: #007bff;
		color: white;
	}
	thead, tbody{
		max-width: 100%;
	}
	td{
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis; 
	}
	tr, th, td{
		text-align: center;
	}
	tr {
		max-width: 100%;
		white-space: nowrap; 
	   	overflow: hidden;         
	   	text-overflow: ellipsis;
	}
	.nav-item:hover a{
	    font-weight: bold;
	}
	.form-label {
	   font-weight: bold;
	   color: #495057;
	}
	.form-control {
	    border-radius: 8px;
	    padding: 15px;
	}
	.form-select {
	    border-radius: 8px;
	    margin-bottom: 20px;
	}
	.form-check > label {
		margin-right: 0.2em;
	}
	.btn-submit {
	    background-color: #007bff;
	    color: white;
	    border: none;
	    border-radius: 8px;
	    padding: 10px 20px;
	    width: 100%;
	    font-size: 1em;
	}
	.btn-submit:hover {
	    background-color: #0056b3;
	}
    .form-group {
        text-align: center;
        margin-bottom: 15px;
    }
    .col-form-label {
        display: block;
        margin-bottom: 5px;
        text-align: left;
        font-weight: bold;
    }
	.btn-radio {
		margin-right: 0.2em;
	}
	.btn-radio-label {
		margin-right: 1em;
	}
	.page_navigation {
    display: flex;
    justify-content: center;
    margin-top: 2em;
	}
	.nav-item{
		text-align: center;
		flex: 1;
	}
	input[type='checkbox']{
		margin-right: 0.2em;
	}
	#password_valid {
		margin-top: 1em;
	}
	#boardDetail_content {
		border: 3px solid #dee2e6;
		margin-top: 0.1em;
		min-height: 10em;
	}
	#nav-items {
	  display: flex;
	  flex-direction: row;
	  justify-content: space-evenly;
	  width: 100%;
	}

  